{% extends 'base.html' %}
{% load static %}
{% block title %}
        Property Merchant | My Dashboard
    {% endblock %}
{% block content %}
<section class="home-packages">
    <h1 class="heading-title">Dashboard </h1>
    {% if user.is_authenticated %}
    <div class="box-container">
         {% if user.is_employee %}
        <div class="box">
           <div class="content">
              <h3>Add Property Listing</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
              <a href="{% url 'add_listing'%}" class="btn">book now</a>
           </div>
        </div>
  
        <div class="box">
           <div class="content">
              <h3>My Property</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
              <a href="book.php" class="btn">book now</a>
           </div>
        </div>
        {% endif %}
        <div class="box">
           <div class="content">
              <h3>My Profile</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
              <a href="book.php" class="btn">book now</a>
           </div>
        </div>

        <div class="box">
            <div class="content">
               <h3>Create New Profile</h3>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
               <a href="book.php" class="btn">book now</a>
            </div>
         </div>

         <div class="box">
            <div class="content">
               <h3>Settings</h3>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
               <a href="{% url 'settings'%}" class="btn">book now</a>
            </div>
         </div>
      {% else %}
      <div class="box">
         <div class="content">
            <h3>Login</h3>
            <p>Login to view your Dashboard</p>
            <a href="{% url 'login' %}" class="btn">Login</a> 
         </div>
      </div>
      {% endif %}
    </div>
 


</section>

{% endblock %}