{% extends 'base.html' %}
{% load static %}
{% block title %}
         My Dashboard | Property Merchant 
    {% endblock %}
{% block content %}
<section class="home-packages">
    <h1 class="heading-title">Dashboard </h1>
    {% if user.is_authenticated %}
    <div class="box-container">
         {% if user.is_employee %}
        <div class="box">
           <div class="content">
              <h3>Upload a Listing <i class="fas fa-upload"></i></h3>
              <p>Click here to list your property on the website</p>
              <a href="{% url 'add_listing'%}" class="btn">List </a>
           </div>
        </div>

        {% endif %}
        {% if user.profile.id %}
        <div class="box">
           <div class="content">
              <h3>My Profile <i class="fas fa-user-circle"></i></h3>
              <p>Click here to view your profile</p>
              <a href="{% url 'show_profile_page' user.profile.id %}" class="btn">Profile</a>
           </div>
        </div>

         <div class="box">
            <div class="content">
               <h3>Update Profile <i class="far fa-edit"></i></h3>
               <p>Click here to update your profile page </p>
               <a href="{% url 'edit_profile_page' user.profile.id %}" class="btn">Update Profile</a>
            </div>
         </div>
           
        <div class="box">
         <div class="content">
            <h3>My Property <i class="fas fa-home"></i></h3>
            <p>click here to view the property you have listed on the website</p>
            
            <a href="{% url 'my_listings' user.profile.id %}" class="btn">My Property</a>
         </div>
      </div>
         {% else %}

         <div class="box">
            <div class="content">
               <h3>Create New Profile <i class="far fa-user-plus"></i></h3>
               <p>Click here to create your profile</p>
               <a href="{% url 'create_profile_page' %}" class="btn">Create</a>
            </div>
         </div>
         {% endif %}
         <div class="box">
            <div class="content">
               <h3>Settings <i class="fas fa-cog"></i></h3>
               <p>Click here to update your settings</p>
               <a href="{% url 'settings'%}" class="btn">Settings </a>
            </div>
         </div>
      {% else %}
      <div class="box">
         <div class="content">
            <h3>Login <i class="fas fa-sign-in-alt"></i></h3>
            <p>Login to view your Dashboard </p>
            <a href="{% url 'login' %}" class="btn">Login</a> 
         </div>
      </div>
      {% endif %}
    </div>
 


</section>

{% endblock %}