{% extends 'base.html' %}
{% load static %}
{% block title %}
        Delete Listing | Property Merchant
    {% endblock %}
{% block content %}
<section class="booking">
    <h1 class="heading-title">Delete: {{listing.title}}</h1>
    {% if user.is_authenticated %}
        {% if user.id == listing.Agent.id %}
        
            <form  method="post" class="book-form">
                <div class="flex">
                    <div class="inputBox">
                    {% csrf_token %}
                    <h2> Are you sure you want to delete your property listing:({{listing.title}}) </h2>
                    </div>
                </div>
                
            <input type="submit" value="Delete" class="btn" name="send" style="background-color: red; color: white;" >
            </form>
        {% endif %}
        
    {% endif %}
 


</section>
 
<!-- home packages section ends -->
{% endblock %}