{% extends 'base.html' %}
{% load static %}
{% block title %}
         Update Listing | Property Merchant
    {% endblock %}
{% block content %}
<br />
<section class="booking">
    <h1 class="heading-title">Update: {{listing.title}}</h1>
    {% if user.is_authenticated %}
        {% if listing.Agent.id == user.id %}
            <form  method="post" class="book-form" enctype="multipart/form-data">
                <div class="flex">
                    <div class="inputBox">
                    {% csrf_token %}
                    {{form.as_p}}
                    </div>
                </div>
                
                <input type="submit" value="Update" class="btn" name="send">
            </form>
        {% endif %}
    {% endif %}

 


</section>
 
<!-- home packages section ends -->
{% endblock %}