{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{category.title}} | Property Merchant 
    {% endblock %}
{% block content %}
<section class="home-packages">
 
    <h1 class="heading-title"> {{category.title}} </h1>
    
    <div class="box-container">
    {% if data %}
      {% for listing in data %}
       <div class="box">
          <div class="image">
             <img src="/media/{{listing.thumbnail}}" alt="">
          </div>
          <div class="content">
             <h3>{{listing.title}}</h3>
             <p>{{listing.detail|slice:"70"}}...</p>
             <a href="/listing/{{listing.slug}}/{{listing.id}}" class="btn">View</a>
             {% if user.id == listing.Agent.id %}
             <a href="{% url 'update_listing' listing.pk%}" class="btn">Edit <i class="fas fa-sync-alt"></i></a>
             <a href="{% url 'delete_listing' listing.pk%}" class="btn" style="background-color: red; color: white;" >Delete <i class="far fa-trash-alt"></i></a>
            {% else %}
            {% if listing.Agent.profile %}
            <a href="{% url 'show_profile_page' listing.Agent.profile.id %}" class="btn">Contact Agent</a>
            {% endif %}
            {% endif %}
          </div>
       </div>
       {% endfor %}
    {% else %}
    <div class="box">
        <div class="content">
            <h3>:(</h3>
            <p> There are no {{category.title}} listed at the moment, you can come back and explore later</p>
            <a href="{% url 'categories'%}" class="btn"> << Back</a> 
         </div>
    </div>
        
    {% endif %}
    </div>
 
       
 
 </section>
 
 {% endblock %}