
{% extends 'base.html' %}
{% load static %}
{% block title %}
        Home | Property Merchant
    {% endblock %}
{% block content %}
<!-- home section starts  -->

<section class="home">

    <div class="swiper home-slider">
 
       <div class="swiper-wrapper">
         {% if categories %}
            {% for category in categories %}
               {% if category.banner %}
                  <div class="swiper-slide slide" style="background:url(/media/{{category.banner}}) no-repeat">
                     <div class="content">
                        <span>explore, discover</span>
                        <h3>{{category.title}}</h3>
                        <a href="/category-listings/{{category.id}}" class="btn" style="background-color: #8e44ad;">discover more</a>
                     </div>
                  </div>
               {% else %}
               <div class="swiper-slide slide" style="background:url(/media/{{category.image}})">
                  <div class="content">
                     <span>explore, discover</span>
                     <h3>{{category.title}}</h3>
                     <a href="/category-listings/{{category.id}}" class="btn" style="background-color: #8e44ad;">discover more</a>
                  </div>
               </div>
               {% endif %}
            {% endfor %}
         {% else %}
          <div class="swiper-slide slide" style="background:url({% static 'images/background.jpg' %}) no-repeat">
            <div class="content">
               <span>explore, discover</span>
               <h3>welcome to Property Merchant</h3>
               <a href="{% url 'my_dashboard' %}" class="btn">My Dashboard</a>
            </div>
         </div>
         {% endif %}
 
          
          
       </div>
 
       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
 
    </div>
 
 </section>
 
 <!-- home section ends -->
 
 <!-- services section starts  -->
<!--  
 <section class="services">
 
    <h1 class="heading-title"> our services </h1>
 
    <div class="box-container">
 
       <div class="box">
          <img src="images/icon-1.png" alt="">
          <h3>adventure</h3>
       </div>
 
       <div class="box">
          <img src="images/icon-2.png" alt="">
          <h3>tour guide</h3>
       </div>
 
       <div class="box">
          <img src="images/icon-3.png" alt="">
          <h3>trekking</h3>
       </div>
 
       <div class="box">
          <img src="images/icon-4.png" alt="">
          <h3>camp fire</h3>
       </div>
 
       <div class="box">
          <img src="images/icon-5.png" alt="">
          <h3>off road</h3>
       </div>
 
       <div class="box">
          <img src="images/icon-6.png" alt="">
          <h3>camping</h3>
       </div>
 
    </div>
 
 </section> -->
 
 <!-- services section ends -->
 
 <!-- home about section starts  -->
<!--  
 <section class="home-about">
 
    <div class="image">
       <img src="images/about-img.jpg" alt="">
    </div>
 
    <div class="content">
       <h3>about us</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita et, recusandae nobis fugit modi quibusdam ea assumenda, nulla quisquam repellat rem aliquid sequi maxime sapiente autem ipsum? Nobis, provident voluptate?</p>
       <a href="about.php" class="btn">read more</a>
    </div>
 
 </section>
  -->

 
 <section class="home-packages">
 
    <h1 class="heading-title">New Listings</h1>

    <div class="box-container">
      {% for listing in data %}
       <div class="box">
          <div class="image">
             <img src="/media/{{listing.thumbnail}}" alt="">
          </div>
          <div class="content">
             <h3>{{listing.title}}</h3>
             <p>{{listing.detail|slice:"70"}}...</p>
             <a href="/listing/{{listing.slug}}/{{listing.id}}" class="btn">View</a>
            {% if user.id == listing.Agent.id %}
             <a href="{% url 'update_listing' listing.pk%}" class="btn">Edit <i class="fas fa-sync-alt"></i></a>
             <a href="{% url 'delete_listing' listing.pk%}" class="btn" style="background-color: red; color: white;" >Delete <i class="far fa-trash-alt"></i></a>
            {% else %}
            {% if listing.Agent.profile %}
            <a href="{% url 'show_profile_page' listing.Agent.profile.id %}" class="btn">Contact Agent</a>
            {% endif %}
            {% endif %}
          </div>
       </div>
       {% endfor %}
 
    </div>
 
    <div class="load-more"> <a href="{% url 'listings' %}" class="btn">Discover more</a> </div>
 
 </section>
 
 <!-- home packages section ends -->
 
 <!-- home offer section starts  -->
 
 <!-- <section class="home-offer">
    <div class="content">
       <h3>upto 50% off</h3>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure tempora assumenda, debitis aliquid nesciunt maiores quas! Magni cumque quaerat saepe!</p>
       <a href="book.php" class="btn">book now</a>
    </div>
 </section> -->
 
 <!-- home offer section ends -->
 
 {% endblock %}