{% extends 'base.html' %}
{% load static %}
{% block title %}
   {{data.title}} | Property Merchant 
{% endblock %}
{% block content %}

<section class="about">
    

    <div class="image">
       <img src="/media/{{data.thumbnail}}" alt="">
    </div>
 
    <div class="content">
       <h3>{{data.title}}</h3>
       <p>{{data.detail}}</p>
       <div class="icons-container">
         <a href="{% url 'show_profile_page' data.Agent.profile.id %}">
            <div class="icons">
               <i class="fas fa-user"></i>
                <span>Agent: {{data.Agent.first_name}} {{data.Agent.last_name}}</span>
             </div>
         </a>
          <div class="icons">
            <i class="fas fa-file-contract"></i>
            <span>Tenancy: {{ payment_type }} </span>
         </div>
          <div class="icons">
             <i class="fas fa-hand-holding-usd"></i>
             <span>Price: ${{data.price}}</span>
          </div>
          <div class="icons">
            <i class="fas fa-map-marker-alt"></i>
             <span>Address: {{data.address}}</span>
          </div>
         <div class="icons">
            <i class="fas fa-bath"></i>
            <span>Bathrooms: {{data.number_of_bathrooms}}</span>
         </div>
         <div class="icons">
            <i class="fas fa-bed"></i>
            <span>Bedrooms: {{data.number_of_bedrooms}}</span>
         </div>
         <div class="icons">
            <i class="fas fa-th"></i>
            <span>Area: {{data.area_sqft}} sqft</span>
         </div>
         <div class="icons">
            <i class="far fa-calendar-alt"></i> 
            <span>Open House: {{data.open_house_date}}</span>
         </div>
         
       </div>
    </div>
 
 </section>
 {% if data.image_1 or data.image_2 or data.image_3 or data.image_4 %}
 <section class="home">
   <h3> Images </h3>
   <div class="swiper home-slider">
      
      <div class="swiper-wrapper">
      {% if data.image_1%}
         <div class="swiper-slide slide" style="background:url(/media/{{data.image_1}}) no-repeat">
            
         </div>
      {% endif %}
      {% if data.image_2 %}
         <div class="swiper-slide slide" style="background:url(/media/{{data.image_2}}) no-repeat">
           
        </div>
      {% endif %}
      {% if data.image_3 %}
         <div class="swiper-slide slide" style="background:url(/media/{{data.image_3}}) no-repeat">
            
         </div>
      {% endif %}
      {% if data.image_4 %}
         <div class="swiper-slide slide" style="background:url(/media/{{data.image_4}}) no-repeat">
            
         </div>
      {% endif %}
      </div>
   
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

   </div>

</section>
{% endif %}
<section class="booking">
   <h3>Video</h3>
   
      <video controls="controls">
         <source src="/media/{{data.video}}" type="video/mp4" />
   
      </video>
   
   
</section>
 

 
 <!-- <section class="reviews">
 
    <h1 class="heading-title"> clients reviews </h1>
 
    <div class="swiper reviews-slider">
 
       <div class="swiper-wrapper">
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus facilis laudantium magnam saepe magni ullam possimus laborum voluptas, veniam ipsum officiis quae doloribus minima ut quis. Molestiae qui distinctio possimus?</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-1.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus repellendus et suscipit optio similique totam aut laborum ullam sequi! In!</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-2.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus enim deserunt, ab at ea iste odio placeat doloribus eum dolores tempore obcaecati, dolore esse aperiam. Excepturi ad quo distinctio, dignissimos voluptate, dolores, saepe animi eum atque sint esse ab exercitationem!</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-3.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus recusandae cum quibusdam odio dignissimos nemo?</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-4.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus facilis laudantium magnam saepe magni ullam possimus laborum voluptas, veniam ipsum officiis quae doloribus minima ut quis. Molestiae qui distinctio possimus?</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-5.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus facilis laudantium magnam saepe magni ullam possimus laborum voluptas, veniam ipsum officiis quae doloribus minima ut quis. Molestiae qui distinctio possimus?</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-6.png" alt="">
          </div>
 
       </div>
 
    </div>
 
 </section> -->
 {% if related_listings %}
   <section class="home-packages">
      <h1 class="heading-title">Others you might like...</h1>
      <div class="box-container">
         {% for listing in related_listings %}
         <div class="box">
            <div class="image">
               <img src="/media/{{listing.thumbnail}}" alt="">
            </div>
            <div class="content">
               <h3>{{listing.title}}</h3>
               <p>{{listing.detail |slice:"70"}}...</p>
               <a href="/listing/{{listing.slug}}/{{listing.id}}" class="btn">View</a>
               {% if listing.Agent.profile %}
                  <a href="{% url 'show_profile_page' listing.Agent.profile.id %}"" class="btn">Contact Agent</a>
               {% endif %}
            </div>
         </div>
         {% endfor %}
      </div> 
   </section>
 {% endif %}
{% if user.is_authenticated %}
   {% if data.Agent.id == user.id %}
   <section class="home-packages">
      <h3>Listing Settngs</h3>
      <div class="box-container">
         <a href="{% url 'update_listing' data.pk%}" class="btn">Edit <i class="fas fa-sync-alt"></i></a>
               <a href="{% url 'delete_listing' data.pk%}" class="btn" style="background-color: red; color: white;" >Delete <i class="far fa-trash-alt"></i></a>
      </div> 
   </section>
   {% endif %}
{% endif %}
 
<!-- home packages section ends -->
{% endblock %}