{% extends 'base.html' %}
{% load static %}
{% block title %}
        Property Merchant | {{data.title}}
    {% endblock %}
{% block content %}
<section class="home-packages">
    <p>{{data.title}}- Agent: {{data.Agent}}-{{data.Agent.id}} user: {{user.id}}</p>
    {% if user.is_authenticated %}
        {% if data.Agent.id == user.id %}
            <a href="{% url 'update_listing' data.pk%}" class="btn">Edit</a>
            <a href="{% url 'delete_listing' data.pk%}" class="btn" style="background-color: red; color: white;" >Delete</a>
        {% endif %}
    {% endif %}
 


</section>
 
<!-- home packages section ends -->
{% endblock %}