{% extends 'base.html' %}
{% load static %}
{% block title %}
        Property Merchant | {{data.title}}
    {% endblock %}
{% block content %}
<section class="home-packages">
    <p>{{data.title}}- Agent: {{data.Agent}}-{{data.Agent.id}} user: {{user.id}}</p>
    {% if user.is_authenticated %}
        {% if data.Agent.id == user.id %}
            <a href="{% url 'update_listing' data.pk%}" class="btn">Edit</a>
            <a href="{% url 'delete_listing' data.pk%}" class="btn" style="background-color: red; color: white;" >Delete</a>
        {% endif %}
    {% endif %}
</section>


<section class="about">
    

    <div class="image">
       <img src="images/about-img.jpg" alt="">
    </div>
 
    <div class="content">
       <h3>{{data.title}}</h3>
       <h4>Price: {{data.price}}</h4>
       <h4>Agent/Home Owner: {{data.Agent.first_name}} {{data.Agent.last_name}}</h4>
       <h4>Address: {{data.address}}</h4>
       <h4>Tenancy: {{data.type}}</h4>
       <p>{{data.detail}}</p>
       <div class="icons-container">
          <div class="icons">
             <i class="fas fa-map"></i>
             <span>Facebook</span>
          </div>
          <div class="icons">
             <i class="fas fa-hand-holding-usd"></i>
             <span>Twitter</span>
          </div>
          <div class="icons">
             <i class="fas fa-headset"></i>
             <span>Instagram</span>
          </div>
          <div class="icons">
            <i class="fas fa-headset"></i>
            <span>YouTube</span>
         </div>
         <div class="icons">
            <i class="fas fa-headset"></i>
            <span>TikTok</span>
         </div>
         <div class="icons">
            <i class="fas fa-headset"></i>
            <span>Website</span>
         </div>
       </div>
    </div>
 
 </section>

 
 <!-- about section ends -->
 
 <!-- reviews section starts  -->
 
 <section class="reviews">
 
    <h1 class="heading-title"> clients reviews </h1>
 
    <div class="swiper reviews-slider">
 
       <div class="swiper-wrapper">
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus facilis laudantium magnam saepe magni ullam possimus laborum voluptas, veniam ipsum officiis quae doloribus minima ut quis. Molestiae qui distinctio possimus?</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-1.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus repellendus et suscipit optio similique totam aut laborum ullam sequi! In!</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-2.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus enim deserunt, ab at ea iste odio placeat doloribus eum dolores tempore obcaecati, dolore esse aperiam. Excepturi ad quo distinctio, dignissimos voluptate, dolores, saepe animi eum atque sint esse ab exercitationem!</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-3.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus recusandae cum quibusdam odio dignissimos nemo?</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-4.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus facilis laudantium magnam saepe magni ullam possimus laborum voluptas, veniam ipsum officiis quae doloribus minima ut quis. Molestiae qui distinctio possimus?</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-5.png" alt="">
          </div>
 
          <div class="swiper-slide slide">
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus facilis laudantium magnam saepe magni ullam possimus laborum voluptas, veniam ipsum officiis quae doloribus minima ut quis. Molestiae qui distinctio possimus?</p>
             <h3>john deo</h3>
             <span>traveler</span>
             <img src="images/pic-6.png" alt="">
          </div>
 
       </div>
 
    </div>
 
 </section>
 <section class="home-packages">
 
    <h1 class="heading-title">Others you might like...</h1>
 
    <div class="box-container">
      {% for listing in related %}
       <div class="box">
          <div class="image">
             <img src="images/img-1.jpg" alt="">
          </div>
          <div class="content">
             <h3>{{listing.title}}</h3>
             <p>{{listing.detail |slice:"70"}}...</p>
             <a href="/listing/{{listing.slug}}/{{listing.id}}" class="btn">View</a>
          </div>
       </div>
       {% endfor %}
 
       
 
 </section>
 
<!-- home packages section ends -->
{% endblock %}