{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
  Change Password | Property Merchant
{% endblock %}
{% block content %}


<section class="booking">        
    <h1 class="heading-title">Change Password</h1>
    
    <div class="card-body">
        <form  method="POST" novalidate class="book-form">
            <div class="flex">
                <div class="inputBox">
                    {% csrf_token %}
                    {{form.as_p}}
                    {% if errors%}
                    {% for error in errors %}
                        <span style="color:red">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>  
            
        
            <input type="submit" value="Change Password" class="btn" name="send">
                
        </form>
      </div>
</section>


{% endblock %}


