{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
  Agent Sign Up | Property Merchant
{% endblock %}
{% block content %}
<section class="booking">        
  <h1 class="heading-title">Agent:Sign Up</h1>
  
  <div class="card-body">
        
            <form action="{% url 'employee_register' %}" method="POST" novalidate class="book-form">
              {% csrf_token %}
                  {% for field in form.visible_fields %}
                  <div class="flex">
                    <div class="inputBox">
                        {{ field.label_tag }}
                          {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                              <span style="color:red">{{ error }}</span>
                            {% endfor %}
                          </div>
                        </div>
                    {% endfor %}
                      
                    
                  
                    <input type="submit" value="Sign UP" class="btn" name="send">
            </form>
        </div>
  </section>

{% endblock %}
