{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
  Login | Property Merchant
{% endblock %}
{% block content %}


<section class="booking">        
    <h1 class="heading-title">Login</h1>
    
    <div class="card-body">
        <form action="{% url 'login' %}" method="POST" novalidate class="book-form">
          {% csrf_token %}
              {% for field in form.visible_fields %}
                <div class="flex">
                  <div class="inputBox">
                    {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                          {% if messages%}
                            {% for message in messages %}
                              <span style="color:red">{{ message }}</span>
                            {% endfor %}
                          {% endif %}
                  </div>
                </div>  
              {% endfor %}
            
              <input type="submit" value="Login" class="btn" name="send">
                
        </form>
      </div>
</section>


{% endblock %}


