{% extends 'base.html' %}
{% load static %}
{% block title %}
        Property Merchant | Add Listing
    {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <section class="home-packages">
        <h1 class="heading-title">Password Change Success</h1>
        <div class="box-container">
            <div class="box">
                <div class="content">
                   <h3>Success !</h3>
                   <p>Password Updated successfully</p>
                   <a href="{% url 'index' %}" class="btn">Home</a> 
                </div>
             </div>
           </div>
        </div>
    </section>
    
    {% endif %}
    
<!-- home packages section ends -->
{% endblock %}