{% extends 'base.html' %}
{% load static %}
{% block title %}
         Profile Page | Property Merchant
    {% endblock %}
{% block content %}
    {% if user.is_authenticated %}

    
        <section class="home-about">

            
                <div class="image">
                    {% if page_user.profile_pic %}
                        <img src="{{ page_user.profile_pic.url }}" alt="">
                    {% else %}
                        <img src="{% static 'images/icon.png'%}" alt="">
                    {% endif %}
                </div>
            
                
            
        
            <div class="content">
            <h3>{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h3>
            <p>{{ page_user.bio}}</p>
            {% if user.id == page_user.id%}
            <h4> contacts </h4>
            {% else %}
            <h4>Contact Me:</h4>
            {% endif %}
            {% if page_user.facebook_url %}
            <a href="{{ page_user.facebook_url}}" class="btn" target="_blank"> <i class="fab fa-facebook-f"></i></a>
            {% endif %}
            {% if page_user.twitter_url %}
            <a href="{{ page_user.twitter_url}}" class="btn" target="_blank"> <i class="fab fa-twitter"></i></a>
            {% endif %}
            {% if page_user.pinterest_url%}
            <a href="{{ page_user.pinterest_url}}" class="btn" target="_blank">t <i class="fab fa-pinterest"></i></a>
            {% endif %}
            {% if page_user.instagram_url %}
            <a href="{{ page_user.instagram_url}}" class="btn" target="_blank"><i class="fab fa-instagram"></i></a>
            {% endif %}
            {% if page_user.tiktok_url %}
            <a href="{{ page_user.tiktok_url}}" class="btn" target="_blank"> <i class="fab fa-tiktok"></i></a>
            {% endif %}
            {% if page_user.youtube_url %}
            <a href="{{ page_user.youtube_url}}" class="btn" target="_blank"> <i class="fab fa-youtube"></i></a>
            {% endif %}
            {% if page_user.website_url %}
            <a href="{{ page_user.website_url}}" class="btn" target="_blank"> <i class="fas fa-globe"></i></a>
            {% endif %}
            
            {% if user.id == page_user.id%}
            <a href="{% url 'edit_profile_page' user.profile.id %}" class="btn">Update Profile <i class="fas fa-sync-alt"></i></a>
            {% endif %}
            </div>
        
        </section>
    {% endif %}
{% endblock %}